<div>
<div class="user-custom-heading">
  User Info:  
</div>
<div *ngIf="userData && userData.currencies.length > 0   else  nocontent">
      <div class="userdetails">
      <p> User Name: {{userData.name}}</p>
      <p> Admin : {{userData.isadmin ? 'YES': 'NO'}}</p>
      </div>
    <mat-card class="productItem" *ngFor="let  currency of userData.currencies" >
     <div style="display: inline-block;margin-left:50px">
       <div>
           <p> currency  : {{currency.currencytype}}</p>
       </div>  
       <div>
           <p> Amount Present : {{currency.ammount}}</p>
       </div> 
    </div>
   
    </mat-card>
   <div class="addtrade" align=center>
  <button class="mat-button" (click)="navigateToTransactions()" mat-button>Add New Trade</button>
  </div>   
  </div> 
 
  <ng-template #nocontent>
    <div class="allignCenter">
        <p>Loading please wait ....</p>

    </div>
  </ng-template>
  </div>