<div align="center">

<mat-form-field class="card" *ngIf="!transactionMode">
 <mat-card >
<h4>Please select the transaction type</h4>

  <mat-select [value]="selectedOption" (selectionChange)="changeSelection($event.value)">
   <mat-option  value="1">Please select transaction type</mat-option>
    <mat-option value="buy">
     buy something
    </mat-option>
   
      <mat-option value="sell">
      sell something
    </mat-option>
  </mat-select>
  </mat-card>
</mat-form-field>
  <mat-card   class="transactioncards" *ngFor="let transaction of allUserTransactions">
  <p>Currency: {{transaction.currencySpent.currenyName}}</p>
  <p> Amount : {{transaction.currencySpent.amount}}</p>
  <div align=center class="submitbutton">
 <button mat-button  class="enable"  (click)="buytrade(transaction)">Buy</button>
 </div>
</mat-card>
<div *ngIf="transactionMode == 'sell'">
<mat-form-field class="card"  >
 <mat-card >
 <div >

    <input matInput type="number" [(ngModel)]="transactionAmount" class="curencyNumber">

    <mat-select (selectionChange)="currencyBought($event.value)"  [value]="this.selectedOption" class="selector" >
    <mat-option value='1'>Please select a currency</mat-option>
    <mat-option value="C1" >
     C1
    </mat-option>
      <mat-option value="C2">
     C2
    </mat-option>
  </mat-select>
  <div align=center class="submitbutton">
 <button mat-button  class="enable" [disabled]="this.selectedOption == 1" (click)="createTrade()">Add trade</button>
 </div>
 </div> 
  </mat-card>
</mat-form-field>
<div >

<mat-card   class="transactioncards" *ngFor="let transaction of allTransactions">
  <i class="material-icons deleteIcon" (click)="deleteTransaction(transaction._id)">delete_sweep</i>
  <p>Currency: {{transaction.currencySpent.currenyName}}</p>
  <p> Amount : {{transaction.currencySpent.amount}}</p>
  <p> status: {{transaction.status}}</p>
</mat-card> 


<div>

</div>
</div>
</div>